<head>
	<meta charset="utf-8">
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>

	<link rel="shortcut icon" type="image/png" href="res/favicon.png"/>

	<title>{% if page.title %}{{ page.title | strip_html | strip_newlines }} - {{ site.title }} {% else %}{{ site.title | strip_html | strip_newlines }}{% endif %}</title>

	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}"/>

	<meta property="og:locale" content="en_US"/>
	<meta property="og:type" content="article"/>

	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }}"/>
	<meta name="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}"/>
	<meta property="og:image" content="{{site.url}}/{{ page.thumbnail }}"/>
	<meta property="og:url" content="{{site.url}}{{page.url}}"/>

	<!-- css -->
	<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='res/css/style.css' rel='stylesheet' type='text/css'/>

	{% include analytics.html %}
</head>